/* JASNY FILE INPUT */

/* bootstrap-jasny file input */

/* line 3, ../../app/styles/scss/dependencies/_fileinput.scss */

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

/* line 8, ../../app/styles/scss/dependencies/_fileinput.scss */

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-300px, 0) scale(4);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

/* line 20, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

/* line 24, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 31, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-color: #e7edf2;
}

/* line 39, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput .thumbnail > img {
  max-height: 100%;
}

/* line 42, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput .btn {
  vertical-align: middle;
}

/* line 46, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

/* line 49, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput-inline .fileinput-controls {
  display: inline;
}

/* line 52, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput .uneditable-input {
  white-space: normal;
}

/* line 55, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput-new .input-group .btn-file {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 59, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 62, ../../app/styles/scss/dependencies/_fileinput.scss */

.fileinput-new .input-group .btn-file.btn-lg {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 65, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-warning .fileinput .uneditable-input {
  color: #e08e0b;
  border-color: #b06f09;
}

/* line 69, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-warning .fileinput .fileinput-preview {
  color: #e08e0b;
}

/* line 72, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-warning .fileinput .thumbnail {
  border-color: #b06f09;
}

/* line 75, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-error .fileinput .uneditable-input {
  color: #d14233;
  border-color: #ab3326;
}

/* line 79, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-error .fileinput .fileinput-preview {
  color: #d14233;
}

/* line 82, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-error .fileinput .thumbnail {
  border-color: #ab3326;
}

/* line 85, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-success .fileinput .uneditable-input {
  color: #229955;
  border-color: #19703e;
}

/* line 89, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-success .fileinput .fileinput-preview {
  color: #229955;
}

/* line 92, ../../app/styles/scss/dependencies/_fileinput.scss */

.form-group.has-success .fileinput .thumbnail {
  border-color: #19703e;
}

/* end bootstrap-jasny file input */