/* MULTISELECT */

/* line 5, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container {
  position: relative;
}

/* line 21, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

/* line 31, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-list {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 35, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable,
.ms-container .ms-selection {
  margin: 10px 0;
  background-color: white;
  border: 1px solid #e7edf2;
  float: left;
}

/* line 41, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable:hover,
.ms-container .ms-selection:hover {
  border-color: #c6d3e0;
}

/* line 45, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 48, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selection {
  border-left: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 55, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-selected {
  display: none;
}

/* line 58, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-list.ms-focus {
  border-color: #c6d3e0;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px;
}

/* line 64, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

/* line 69, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-optgroup-container {
  width: 100%;
}

/* line 72, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container ul.ms-list {
  width: 160px;
  height: 200px;
  max-height: 200px;
  padding: 0;
  overflow-y: auto;
}

/* line 79, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container ul.ms-list::-webkit-scrollbar-track {
  background-color: rgba(220, 228, 236, 0.4);
}

/* line 82, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container ul.ms-list::-webkit-scrollbar {
  width: 5px;
}

/* line 85, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container ul.ms-list::-webkit-scrollbar-thumb {
  background-color: #c6d3e0;
  opacity: .6;
}

/* line 90, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #a1aab0;
}

/* line 97, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 5px 10px;
  font-size: 13px;
  border-bottom: 1px solid #e7edf2;
  transition: all 0.1s ease;
}

/* line 104, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  background-color: #20638f;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* line 111, ../../app/styles/scss/dependencies/_multiselect.scss */

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #f5f7f7;
  color: #bdc3c7;
  cursor: text;
}

/* line 118, ../../app/styles/scss/dependencies/_multiselect.scss */

.wrapkit-content-rtl .ms-container .ms-selectable,
.wrapkit-content-rtl .ms-container .ms-selection {
  float: right;
  border: 1px solid #e7edf2;
  border-radius: 0;
}

/* line 123, ../../app/styles/scss/dependencies/_multiselect.scss */

.wrapkit-content-rtl .ms-container .ms-selectable {
  border-left: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 127, ../../app/styles/scss/dependencies/_multiselect.scss */

.wrapkit-content-rtl .ms-container .ms-selection {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

@media (max-width: 480px) {
  /* line 132, ../../app/styles/scss/dependencies/_multiselect.scss */

  .ms-container ul.ms-list {
    width: auto;
  }

  /* line 136, ../../app/styles/scss/dependencies/_multiselect.scss */

  .ms-container .ms-selectable,
  .ms-container .ms-selection {
    float: none;
    border: 1px solid #e7edf2;
    border-radius: 0;
  }

  /* line 141, ../../app/styles/scss/dependencies/_multiselect.scss */

  .ms-container .ms-selectable {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  /* line 145, ../../app/styles/scss/dependencies/_multiselect.scss */

  .ms-container .ms-selection {
    margin-top: 0;
    border-top-width: 3px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  /* line 152, ../../app/styles/scss/dependencies/_multiselect.scss */

  .wrapkit-content-rtl .ms-container .ms-selectable,
  .wrapkit-content-rtl .ms-container .ms-selection {
    float: none;
  }
}