@charset "CP850";

/**
 * Nestable
 */

/* line 4, ../../app/styles/scss/dependencies/_nestable.scss */

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  list-style: none;
  line-height: 20px;
}

/* line 14, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 21, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-list .dd-list {
  padding-left: 34px;
}

/* line 24, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-collapsed .dd-list {
  display: none;
}

/* line 30, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}

/* line 39, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-handle {
  display: block;
  height: 34px;
  margin: 6px 0;
  padding: 6px 12px;
  color: #3e5771;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #e7edf2;
  background: #fbfcfc;
}

/* line 52, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-handle:hover {
  color: #20638f;
  background: #fff;
}

/* line 57, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 6px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  outline: 0;
}

/* line 76, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

/* line 84, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

/* line 89, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-placeholder,
.dd-empty {
  margin: 6px 0;
  padding: 0;
  min-height: 34px;
  background: #fef7ec;
  border: 1px dashed #fde6d4;
}

/* line 96, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-empty {
  border: 1px dashed #b6c6d7;
  min-height: 100px;
  background-color: #ecf0f1;
}

/* line 102, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 1070;
}

/* line 107, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

/* line 110, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-dragel .dd-handle {
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/**
 * Nestable Draggable Handles
 */

/* line 118, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-content {
  display: block;
  height: 34px;
  margin: 6px 0;
  padding: 6px 12px 6px 42px;
  color: #3e5771;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #e7edf2;
  background: #fbfcfc;
}

/* line 130, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-content:hover {
  color: #20638f;
  background: #fff;
}

/* line 135, ../../app/styles/scss/dependencies/_nestable.scss */

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

/* line 139, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-item > button {
  margin-left: 34px;
}

/* line 143, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 34px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e7edf2;
  background: #ecf0f1;
}

/* line 157, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  font-size: 20px;
  font-weight: normal;
}

/* line 170, ../../app/styles/scss/dependencies/_nestable.scss */

.dd3-handle:hover {
  background: #dde4e6;
}