/* line 1, ../../app/styles/scss/pages/_timeline.scss */

.timeline {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 0;
}

/* line 15, ../../app/styles/scss/bootstrap/mixins/_clearfix.scss */

.timeline:before,
.timeline:after {
  content: " ";
  display: table;
}

/* line 19, ../../app/styles/scss/bootstrap/mixins/_clearfix.scss */

.timeline:after {
  clear: both;
}

/* line 9, ../../app/styles/scss/pages/_timeline.scss */

.timeline,
.timeline > li {
  list-style: none;
}

/* line 13, ../../app/styles/scss/pages/_timeline.scss */

.timeline > li:nth-child(even) {
  float: left;
  clear: left;
}

/* line 18, ../../app/styles/scss/pages/_timeline.scss */

.timeline > li:nth-child(odd) {
  float: right;
  clear: right;
}

/* line 24, ../../app/styles/scss/pages/_timeline.scss */

.timeline-line {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #e7edf2;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 34, ../../app/styles/scss/pages/_timeline.scss */

.timeline-line + .timeline-item {
  margin-top: -20px;
}

/* line 39, ../../app/styles/scss/pages/_timeline.scss */

.timeline-group {
  display: block;
  position: relative;
  margin: 20px 0;
  text-align: center;
  float: none !important;
  z-index: 1;
}

/* line 48, ../../app/styles/scss/pages/_timeline.scss */

.timeline-poster {
  margin-top: -20px;
}

/* line 51, ../../app/styles/scss/pages/_timeline.scss */

.timeline-poster .btn-link {
  color: #a1aab0;
}

/* line 57, ../../app/styles/scss/pages/_timeline.scss */

.timeline-poster .btn-link:hover,
.timeline-poster .btn-link:focus,
.timeline-poster .btn-link:active,
.timeline-poster .btn-link.active {
  color: #3e5771;
}

/* line 63, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 0 30px 20px;
}

/* line 71, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(even):before,
.timeline-item:nth-child(even):after {
  content: '';
  position: absolute;
  right: 19px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #e7edf2;
  z-index: 1;
}

/* line 83, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(even):after {
  right: 20px;
  top: 11px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #fff;
}

/* line 91, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(even) > .timeline-badge {
  right: -6px;
}

/* line 97, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(odd):before,
.timeline-item:nth-child(odd):after {
  content: '';
  position: absolute;
  left: 19px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #e7edf2;
  z-index: 1;
}

/* line 109, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(odd):after {
  left: 20px;
  top: 11px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #fff;
}

/* line 117, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item:nth-child(odd) > .timeline-badge {
  left: -6px;
}

/* line 123, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item.block:nth-child(even),
.timeline-item.block:nth-child(odd) {
  width: 100%;
  margin-top: 5px;
}

/* line 128, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item.block:nth-child(even):before,
.timeline-item.block:nth-child(even):after,
.timeline-item.block:nth-child(odd):before,
.timeline-item.block:nth-child(odd):after {
  left: 50%;
  right: auto;
  top: -11px;
  border: none;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #e7edf2;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 138, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item.block:nth-child(even):after,
.timeline-item.block:nth-child(odd):after {
  top: -10px;
  border: none;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}

/* line 146, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item.block:nth-child(even) > .timeline-badge,
.timeline-item.block:nth-child(odd) > .timeline-badge {
  top: -28px;
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 154, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item > .timeline-badge {
  position: absolute;
  top: 12px;
  z-index: 1;
}

/* line 159, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item > .timeline-badge > a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #2980b9;
  border-radius: 24px;
  background-color: #fff;
  text-decoration: none;
  transition: all ease 0.3s;
}

/* line 172, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item > .timeline-badge > a:hover,
.timeline-item > .timeline-badge > a:focus,
.timeline-item > .timeline-badge > a:active,
.timeline-item > .timeline-badge > a.active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 178, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item > .timeline-panel {
  position: relative;
  background-color: #fff;
  border: 1px solid #e7edf2;
  border-radius: 4px;
}

/* line 185, ../../app/styles/scss/pages/_timeline.scss */

.timeline-item > .timeline-panel:hover .timeline-actions {
  display: block;
}

/* line 192, ../../app/styles/scss/pages/_timeline.scss */

.timeline-actions {
  display: none;
}

/* line 198, ../../app/styles/scss/pages/_timeline.scss */

.timeline-heading,
.timeline-liveliness,
.timeline-footer {
  padding: 15px;
}

/* line 201, ../../app/styles/scss/pages/_timeline.scss */

.timeline-content {
  padding: 15px;
}

/* line 204, ../../app/styles/scss/pages/_timeline.scss */

.timeline-heading + .timeline-content {
  padding-top: 0;
}

/* line 208, ../../app/styles/scss/pages/_timeline.scss */

.timeline-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

/* line 214, ../../app/styles/scss/pages/_timeline.scss */

.timeline-embed object,
.timeline-embed embed,
.timeline-embed iframe,
.timeline-embed .embed-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 223, ../../app/styles/scss/pages/_timeline.scss */

.timeline-img {
  display: block;
  padding: 5px 0;
}

/* line 227, ../../app/styles/scss/pages/_timeline.scss */

.timeline-img.first {
  margin-right: -10px;
}

/* line 230, ../../app/styles/scss/pages/_timeline.scss */

.timeline-img.middle {
  margin-right: -10px;
  margin-left: -10px;
}

/* line 234, ../../app/styles/scss/pages/_timeline.scss */

.timeline-img.last {
  margin-left: -10px;
}

/* line 241, ../../app/styles/scss/pages/_timeline.scss */

.timeline-resume,
.timeline-liveliness,
.timeline-footer {
  border-top: 1px solid #e7edf2;
}

/* line 246, ../../app/styles/scss/pages/_timeline.scss */

.timeline-resume,
.timeline-liveliness,
.timeline-footer {
  background-color: #fbfcfc;
}

/* line 250, ../../app/styles/scss/pages/_timeline.scss */

.timeline-avatar {
  margin-top: -2px;
  margin-right: 10px;
}

/* line 254, ../../app/styles/scss/pages/_timeline.scss */

.timeline-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 600;
  color: #3e5771;
  text-decoration: none;
}

/* line 263, ../../app/styles/scss/pages/_timeline.scss */

.timeline-title > small {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: #a1aab0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 272, ../../app/styles/scss/pages/_timeline.scss */

.timeline .media {
  border-bottom: 1px solid #e7edf2;
}

/* line 275, ../../app/styles/scss/pages/_timeline.scss */

.timeline .media,
.timeline .media p {
  font-size: 13px;
}

/* line 278, ../../app/styles/scss/pages/_timeline.scss */

.timeline .media:last-child {
  border-bottom: none;
}

@media (max-width: 1199px) {
  /* line 285, ../../app/styles/scss/pages/_timeline.scss */

  .timeline {
    padding-left: 15px;
  }

  /* line 288, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-line {
    left: 15px;
  }

  /* line 291, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-group {
    display: inline-block;
    margin-left: 4px;
  }

  /* line 296, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item {
    width: 100%;
    margin-top: 0 !important;
    padding-right: 10px;
  }

  /* line 302, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item.block:nth-child(even),
  .timeline-item.block:nth-child(odd) {
    padding-bottom: 0;
  }

  /* line 311, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item:nth-child(even):before,
  .timeline-item:nth-child(even):after,
  .timeline-item:nth-child(odd):before,
  .timeline-item:nth-child(odd):after,
  .timeline-item.block:nth-child(even):before,
  .timeline-item.block:nth-child(even):after,
  .timeline-item.block:nth-child(odd):before,
  .timeline-item.block:nth-child(odd):after {
    left: 19px;
    top: 10px;
    border: none;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #e7edf2;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 320, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item:nth-child(even):after,
  .timeline-item:nth-child(odd):after,
  .timeline-item.block:nth-child(even):after,
  .timeline-item.block:nth-child(odd):after {
    left: 20px;
    top: 11px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #fff;
  }

  /* line 328, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item:nth-child(even) > .timeline-badge,
  .timeline-item:nth-child(odd) > .timeline-badge,
  .timeline-item.block:nth-child(even) > .timeline-badge,
  .timeline-item.block:nth-child(odd) > .timeline-badge {
    top: 12px;
    left: -6px;
    right: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (max-width: 480px) {
  /* line 341, ../../app/styles/scss/pages/_timeline.scss */

  .timeline {
    padding: 0;
  }

  /* line 344, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-line {
    display: none;
  }

  /* line 347, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item {
    display: block;
    padding: 0 0 20px !important;
  }

  /* line 354, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item:nth-child(even),
  .timeline-item:nth-child(odd),
  .timeline-item.block:nth-child(even),
  .timeline-item.block:nth-child(odd) {
    float: none;
    clear: both;
  }

  /* line 358, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item:nth-child(even):before,
  .timeline-item:nth-child(even):after,
  .timeline-item:nth-child(odd):before,
  .timeline-item:nth-child(odd):after,
  .timeline-item.block:nth-child(even):before,
  .timeline-item.block:nth-child(even):after,
  .timeline-item.block:nth-child(odd):before,
  .timeline-item.block:nth-child(odd):after {
    display: none;
  }

  /* line 364, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item.timeline-poster > .timeline-badge {
    display: none;
  }

  /* line 369, ../../app/styles/scss/pages/_timeline.scss */

  .timeline-item > .timeline-badge {
    top: -8px !important;
    left: 50% !important;
    margin-left: -6px;
  }
}

/* line 379, ../../app/styles/scss/pages/_timeline.scss */

.wrapkit-content-rtl .timeline-avatar {
  margin-right: 0;
  margin-left: 10px;
}