/* TYPEAHEAD */

/* line 2, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead {
  width: 100%;
}

/* line 5, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-hint {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #bdc3c7;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 17, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-hint.hint-small,
.twitter-typeahead .tt-hint.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 26, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-hint.hint-large,
.twitter-typeahead .tt-hint.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/* line 35, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu {
  width: 100%;
  margin: 2px 0 0;
  padding: 5px 4px;
  background-color: white;
  border: 1px solid #c6d3e0;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1070;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 46, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-message {
  padding: 3px 11px;
}

/* line 49, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-heading {
  padding: 3px 11px;
}

/* line 51, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-heading h1,
.twitter-typeahead .tt-dropdown-menu .tt-heading h2,
.twitter-typeahead .tt-dropdown-menu .tt-heading h3,
.twitter-typeahead .tt-dropdown-menu .tt-heading h4,
.twitter-typeahead .tt-dropdown-menu .tt-heading h5,
.twitter-typeahead .tt-dropdown-menu .tt-heading h6 {
  font-weight: 500;
}

/* line 56, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-suggestion {
  padding: 3px 26px;
  color: #3e5771;
  cursor: pointer;
}

/* line 61, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor {
  color: white;
  background-color: #20638f;
}

/* line 65, ../../app/styles/scss/dependencies/_typeahead.scss */

.twitter-typeahead .tt-dropdown-menu .tt-suggestion p {
  margin: 0;
}

/* line 72, ../../app/styles/scss/dependencies/_typeahead.scss */

.input-group > .twitter-typeahead {
  display: table-cell !important;
}

/* line 76, ../../app/styles/scss/dependencies/_typeahead.scss */

.input-group.input-group-in > .twitter-typeahead .tt-hint {
  padding-right: 0;
  padding-left: 0;
}

/* line 82, ../../app/styles/scss/dependencies/_typeahead.scss */

.input-group.input-group-in > .twitter-typeahead:first-child .tt-hint {
  padding-right: 0;
  padding-left: 12px;
}

/* line 88, ../../app/styles/scss/dependencies/_typeahead.scss */

.input-group.input-group-in > .twitter-typeahead:last-child .tt-hint {
  padding-right: 12px;
  padding-left: 0;
}

/* line 94, ../../app/styles/scss/dependencies/_typeahead.scss */

.input-group.input-group-in > .twitter-typeahead:not(:first-child) .tt-dropdown-menu {
  margin-left: -12px;
}

/* line 101, ../../app/styles/scss/dependencies/_typeahead.scss */

.wrapkit-content-rtl .tt-dropdown-menu .pull-right {
  float: left !important;
}

/* line 104, ../../app/styles/scss/dependencies/_typeahead.scss */

.wrapkit-content-rtl .tt-dropdown-menu .pull-left {
  float: right !important;
}