/* line 1, ../../app/styles/scss/dependencies/_vegas.scss */

.vegas-loading {
  border-radius: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  background: url(../images/vegas/loading.gif) no-repeat center center;
  /* Loading Gif by http://preloaders.net/ */
  height: 32px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 0;
}

/* line 14, ../../app/styles/scss/dependencies/_vegas.scss */

.vegas-overlay {
  background: transparent url(../images/vegas/overlays/01.png);
  opacity: 0.5;
  z-index: -1;
}

/* line 20, ../../app/styles/scss/dependencies/_vegas.scss */

.vegas-background {
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  max-width: none !important;
  /* counteracts global img modification by twitter bootstrap library */
  z-index: -2;
}

/* line 28, ../../app/styles/scss/dependencies/_vegas.scss */

.vegas-overlay,
.vegas-background {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}