.input-group.input-group-in, .lead, .btn-primary, .no-account-p, #signupForm{
    direction: rtl;
}

.has-feedback .form-control-feedback {
    left: 0;
    right: inherit;
}

.signin-wrapper .signin-brand {
    font-weight: bold;
}

.signin-wrapper .signin-brand a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 480px) {
    .signin-wrapper {
        margin: 20px auto 5px;
    }
}

#signinForm hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.google-login-btn, .google-login-btn:focus {
    color: #fff;
    border-color: #0c6ebe;
    background-size: 16px 16px;
    background: #4285f4 url(/images/svg/google.svg) no-repeat left 10px center;
    height: 36px;
    font-size: 15px;font-weight: 500;
}

.google-login-btn:hover {
    color: #fff;
    background-color: #5496ff;
    border-color: rgba(0,0,0,0.1);
}