.questions-panel .question-card, .prepare-screen-caption-div {
    background-color: #E91E63;
}

.md-sidenav-right {
    background-color: #EC407A;
}

.practice-full-screen {
    background-color: #F8BBD0;
}