<div>
    <div class="row">
        <div class="groups-control-panel">
            <button id="add-group-btn" data-ng-disabled="!enableAddGroupBtn" data-ng-click="addGroup()" type="button" class="btn btn-greentur btn-sm" >
                <i class="fa fa-plus-square-o"></i> יצירת תרגול חדש
            </button>
            <hr>
        </div>

        <div class="col-md-12 group-info-container" id="newGroupPanel"  style="display: none;">
            <div class="panel panel-default small-margin-bottom">
                <div class="panel-heading" style="background-color: #DDFFD1;">    <!--todo inline style-->
                    <h3 class="panel-title">יצירת תרגול</h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body panel-body-narrow">
                    <div data-ng-show="errorMsg" class="alert alert-danger child-info-panel">
                        <p><strong>xxx</strong></p>
                    </div>
                    <div class="row" >
                        <div class="col-sm-6 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="" for="newGroupNameInput">שם הקבוצה</label>
                                <input id="newGroupNameInput" data-ng-model="xxx" class="form-control" autocomplete="off" required="">
                            </div>
                        </div><!-- /.cols -->
                        <div class="col-sm-6 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="" for="newGroupDescInput">תאור הקבוצה</label>
                                <input id="newGroupDescInput" data-ng-model="group.description" class="form-control" placeholder="תאור הקבוצה" autocomplete="off" required="">
                            </div>
                        </div><!-- /.cols -->
                        <div class="col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="" >מוזמנים לקבוצה</label>
                                <tags-input id="newGroupInviteEmails" type="email" ng-model="newGroupInvite" placeholder="הוסף כתובות מייל" max-length="30" max-tags="40" add-on-space="true"
                                            allowed-tags-pattern="\S+@\S+\.\S+" add-on-paste="true" display-property="email"></tags-input>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 pull-right">
                            <div class="form-group no-mrg-btm">
                                <button data-ng-click="cancelAddGroup()" class="btn btn-default btn-sm">בטל</button>
                                <button data-ng-click="createGroup()" data-ng-disabled="!enableCreateGroupBtn" class="btn btn-greentur btn-sm">צור קבוצה</button>
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.panel-body -->
            </div>
        </div>

        <!-- all the groups -->
        <div id="all-tasks-container">
            <div x-task-info-panel id="group-info-panel-{{task.id}}" data-ng-repeat="task in tasks" task="task"></div>
        </div>
    </div><!-- /.row -->
</div>